/* Common styles for the header */
.header {
    background: linear-gradient(135deg, #007bff, #0086d4);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  }
  
  .header-title {
    font-size: 48px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .header-subtitle {
    font-size: 24px;
    margin: 5px 0 20px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.8;
  }
  
  .header-nav {
    text-align: center;
  }
  
  .mat-tab-group {
    display: inline-block;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
  }
  
  .mat-tab-header {
    background-color: transparent;
  }
  
  .mat-ink-bar {
    background-color: #fff;
  }
  
  .mat-tab-label {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 8px 16px;
  }
  
  /* Add styles for the active tab */
  .active-tab .mat-tab-label {
    color: blue;
    text-decoration: underline;
  }
  
  /* Underline effect styles */
  .mat-ink-bar {
    height: 2px;
  }
  
  /* Center the underline effect */
  .mat-tab-label-container {
    justify-content: center;
  }
  
  /* Adjust the width of the underline effect */
  .mat-tab-label-active .mat-ink-bar {
    width: 80%;
  }
  
  /* Adjust the position of the underline effect */
  .mat-ink-bar {
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
  