<div class="weather-forecast">
  <div class="forecast-item">
    <div class="input-group">
      <input [(ngModel)]="city" class="form-control" type="text" placeholder="Enter city name" (keyup.enter)="getWeatherData()">
      <div class="button-wrapper">
        <button (click)="getWeatherData()">Get Weather</button>
      </div>
    </div>
    City: <span [innerHTML]="sanitizedCity"></span>
    <br>
    Country: <span [innerText]="weatherData?.country"></span>
    <br>
    Last Update: <span [innerText]="weatherData?.date"></span>
    <br>
    Temperature: <span [innerText]="weatherData?.temperature | number:'1.1-1'"></span>°C
    <br>
    Condition: <span [innerText]="weatherData?.conditionText"></span>
    <br>
    <img [src]="weatherData?.conditionIcon" alt="Weather Icon" />
  </div>
</div>

