.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: black;
}

.flex-column {
  flex: 0 0 33.33%;
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-item-1 {
  flex: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.qr-code {
  height: 200px;
  width: 200px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.weatherDiv {
  justify-content: flex-start; 
  align-items: flex-start; 
  margin: 10px 0 0 10px;
}


@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-column {
    flex: none;
  }
}
